{
    "openapi": "3.0.1",
    "info": {
        "title": "v1",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.steppay.kr",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/v1/customers/{id}": {
            "put": {
                "tags": [
                    "customers"
                ],
                "summary": "고객 수정",
                "description": "고객 정보를 수정할 때 호출합니다. 파라미터로 전달된 정보로 고객 정보가 치환됩니다.",
                "operationId": "v1_updateCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "수정할 고객 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerUpdateDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 수정됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerV1DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "파라미터 검증 실패"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "수정할 고객 정보를 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerV1DTO"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "customers"
                ],
                "summary": "고객 삭제",
                "description": "고객 정보를 삭제할 때 호출합니다.",
                "operationId": "v1_deleteCustomer",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "삭제할 고객 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 삭제됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "파라미터 검증 실패"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "삭제할 고객 정보를 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountApiresponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "customers"
                ],
                "summary": "고객 상세 조회",
                "description": "고객 상세정보를 반환합니다.",
                "operationId": "v1_getCustomerDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "고객 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 조회됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductCustomerdto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/customers": {
            "post": {
                "tags": [
                    "customers"
                ],
                "summary": "고객 생성",
                "description": "고객을 생성할 때 호출합니다.",
                "operationId": "v1_createCustomer",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountCustomercreatedto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "정상적으로 생성됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerV1DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "파라미터 검증 실패"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "customers"
                ],
                "summary": "고객 목록 조회",
                "description": "고객 목록을 반환합니다. Pagination 형태로 지원됩니다.",
                "operationId": "v1_getCustomerList",
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "조회 시작 시점",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "조회 끝 시점",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "페이지 번호(기본값: 0)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "페이지 크기(기본값: 20)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sortDir",
                        "in": "query",
                        "description": "정렬 방향(오름차순: ASC, 내림차순: DESC(기본값))",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "정렬 기준값 - 기본값: 생성 시점",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "검색 키워드 - 이름과 이메일에서 검색됩니다.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 조회됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerListPageDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/sm/settings": {
            "get": {
                "tags": [
                    "accounts"
                ],
                "operationId": "v1_getSetting",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionManagerSettingDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "accounts"
                ],
                "operationId": "v1_updateSetting",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionManagerSettingDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/vendors": {
            "get": {
                "tags": [
                    "vendors"
                ],
                "operationId": "v1_getVendor",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/VendorInfoDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/session/{customerId}": {
            "get": {
                "tags": [
                    "session"
                ],
                "summary": "세션 생성",
                "description": "고객 연동을 위한 세션을 생성합니다. 세션 연동을 위한 키를 리턴합니다.",
                "operationId": "v1_getSession",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "고객 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "세션 생성됨. 생성된 세션 키를 리턴함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{vendorUuid}/setting": {
            "get": {
                "tags": [
                    "accounts"
                ],
                "operationId": "v1_getPaymentFieldList",
                "parameters": [
                    {
                        "name": "vendorUuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PaymentFieldDTO"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/payment-method": {
            "put": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "결제수단 변경",
                "description": "구독의 결제수단을 변경할 때 호출합니다. 변경을 위한 주문이 생성됩니다.",
                "operationId": "v1_changePaymentMethod",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionChangePaymentMethodDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "정상적으로 주문이 생성됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductOrderdto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderV1DTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/items": {
            "put": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 항목 교체",
                "description": "구독 항목을 파라미터로 전달한 데이터로 교체합니다.",
                "operationId": "v1_replaceSubscriptionItems",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "description": "교체할 구독 항목 정보",
                                "items": {
                                    "$ref": "#/components/schemas/SubscriptionItemReplaceDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 교체됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "구독 항목 교체 정보 검증 실패"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 항목 추가",
                "description": "구독 항목을 추가할 때 호출합니다.",
                "operationId": "v1_addSubscriptionItem",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionItemCreateDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 추가됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "구독 항목 생성 정보 검증 실패"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독 또는 구독 항목을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/items/{itemId}": {
            "put": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 항목 수정",
                "description": "특정 구독 항목을 수정할 때 사용합니다.",
                "operationId": "v1_updateSubscriptionItem",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "구독 항목 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionItemChangeDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 수정됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "구독 항목 수정 정보 검증 실패"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독 또는 구독 항목을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 항목 삭제",
                "description": "구독 항목을 삭제할 때 호출합니다.",
                "operationId": "v1_removeSubscriptionItem",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "구독 항목 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 삭제됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독 또는 구독 항목을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscriptionV1DTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/interval": {
            "put": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 주기 변경",
                "description": "구독 주기를 변경합니다.",
                "operationId": "v1_changeSubscriptionRecurring",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionChangeRecurringDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 변경됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/products/{id}": {
            "put": {
                "tags": [
                    "products"
                ],
                "summary": "상품 수정",
                "description": "상품을 수정할 때 호출합니다. 파라미터로 전달된 정보로 가격플랜 정보가 치환됩니다.",
                "operationId": "v1_updateProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductUpdateDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 수정됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductProductdto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "상품을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductV1DTO"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "products"
                ],
                "summary": "상품 삭제",
                "description": "상품을 삭제할 때 호출합니다.",
                "operationId": "v1_deleteProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 삭제됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "상품을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/products/{id}/product_order": {
            "put": {
                "tags": [
                    "products"
                ],
                "operationId": "v1_updateProductOrder",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "product_order",
                        "in": "query",
                        "description": "상품 순서 수정",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/products/{id}/prices/{priceId}": {
            "get": {
                "tags": [
                    "products"
                ],
                "summary": "가격플랜 상세 조회",
                "description": "가격플랜의 상세 정보를 반환합니다.",
                "operationId": "v1_getProductPrice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "priceId",
                        "in": "path",
                        "description": "가격 플랜 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 조회됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductPricedto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "상품 또는 가격플랜을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PriceV1DTO"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "products"
                ],
                "summary": "가격플랜 수정",
                "description": "가격플랜을 수정할 때 호출합니다. 파라미터로 전달된 정보로 가격플랜 정보가 치환됩니다. 연관 주문이 존재한다면 이름과 설명만 수정됩니다.",
                "operationId": "v1_updateProductPrice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "priceId",
                        "in": "path",
                        "description": "가격플랜 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PriceUpdateDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 수정됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductPricedto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "상품 또는 가격플랜을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PriceV1DTO"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "products"
                ],
                "summary": "가격 삭제",
                "description": "가격을 삭제할 때 호출합니다.",
                "operationId": "v1_deleteProductPrice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "priceId",
                        "in": "path",
                        "description": "가격플랜 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 수정됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "상품 또는 가격플랜을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/orders/{orderIdOrCode}/retry-payment": {
            "put": {
                "tags": [
                    "orders"
                ],
                "operationId": "v1_retryPayment",
                "parameters": [
                    {
                        "name": "orderIdOrCode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseBoolean"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/invoices/{id}": {
            "get": {
                "tags": [
                    "invoices"
                ],
                "summary": "청구서 상세 조회",
                "description": "청구서의 상세정보를 반환합니다.",
                "operationId": "v1_getInvoiceDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "청구서 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 조회됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "청구서를 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceDTO"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "invoices"
                ],
                "summary": "청구서 수정",
                "description": "청구서를 수정할 때 호출합니다. 파라미터로 전달된 정보로 청구서가 치환됩니다.",
                "operationId": "v1_updateInvoice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "청구서 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "temporary",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InvoiceUpdateDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 수정됨"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "청구서를 찾지 못 함"
                    }
                }
            },
            "delete": {
                "tags": [
                    "invoices"
                ],
                "summary": "청구서 삭제",
                "description": "청구서를 삭제할 때 호출합니다.",
                "operationId": "v1_deleteInvoice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "청구서 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 삭제됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "청구서를 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/customers/{customerId}/payment-method": {
            "put": {
                "tags": [
                    "customers"
                ],
                "summary": "결제수단 변경",
                "description": "결제수단을 변경할 때 사용합니다. 해당 고객의 모든 구독에 대한 결제수단이 변경됩니다. 결제수단을 처리하기 위한 주문이 생성되며, 주문을 결제하면 등록이 완료됩니다.",
                "operationId": "v1_changePaymentMethodForAllSubscriptions",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "고객 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "정상적으로 주문이 생성됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductOrderdto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "변경할 고객 정보를 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderV1DTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/pause": {
            "post": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 일시 정지",
                "description": "구독을 일시정지 합니다. 활성화 상태의 구독만 일시정지 할 수 있습니다.",
                "operationId": "v1_pauseSubscription",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionPauseDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 처리됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/change-pay-datetime": {
            "post": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "결제일 변경",
                "description": "다음 결제일을 변경합니다.",
                "operationId": "v1_changePayDatetimeSubscription",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionChangePayDatetimeDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 변경됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/cancel": {
            "post": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 취소",
                "description": "구독을 취소합니다. 활성화, 일시정지, 결제실패 상태의 구독만 취소할 수 있습니다.",
                "operationId": "v1_cancelSubscription",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubscriptionCancelDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "정상적으로 처리됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{subscriptionId}/active": {
            "post": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 활성화",
                "description": "구독을 다시 활성화 시킵니다. 일시정지 및 취소 대기중 상태만 변경가능합니다.",
                "operationId": "v1_activeSubscription",
                "parameters": [
                    {
                        "name": "subscriptionId",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "정상적으로 활성화됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/subscriptions/{id}/renew": {
            "post": {
                "tags": [
                    "subscriptions"
                ],
                "summary": "구독 갱신 결제",
                "description": "다음 결제일과 상관없이 현재 시점으로 구독을 갱신시킵니다. 결제가 진행되며, 구독 시작, 끝 시점이 갱신됩니다.",
                "operationId": "v1_renewSubscription",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "구독 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 갱신됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductApiresponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "구독을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseSubscriptionManualRenewResultDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/products": {
            "get": {
                "tags": [
                    "products"
                ],
                "summary": "상품 목록 조회",
                "operationId": "v1_getProductList",
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "조회 시작 시점",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "조회 끝 시점",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "페이지 번호(기본값: 0)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "페이지 크기(기본값: 20)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sortDir",
                        "in": "query",
                        "description": "정렬 방향(오름차순: ASC, 내림차순: DESC(기본값))",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "정렬 기준값 - 기본값: 생성 시점",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "검색 키워드. 이름을 검색할 수 있습니다.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "특정 카테고리 아이디에 포함되어 있는 상품 목록을 반환합니다.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "지정한 상태만 목록을 반환하게 합니다.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SALE",
                                "OUT_OF_STOCK",
                                "UNSOLD",
                                "WAITING_APPROVAL",
                                "REJECTED"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 조회됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductListPageDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "products"
                ],
                "summary": "상품 생성",
                "description": "상품을 생성할 때 호출합니다.",
                "operationId": "v1_createProduct",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductProductcreatedto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "정상적으로 생성됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductProductdto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/products/{id}/prices": {
            "get": {
                "tags": [
                    "products"
                ],
                "summary": "가격플랜 목록 조회",
                "description": "특정 상품의 가격플랜 목록을 반환합니다.",
                "operationId": "v1_getProductPriceList",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 조회됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PriceV1DTO"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "상품을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PriceV1DTO"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "products"
                ],
                "summary": "가격플랜 생성",
                "description": "가격플랜을 생성할 때 호출합니다.",
                "operationId": "v1_createProductPrice",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "상품 번호",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductPricecreatedto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "정상적으로 생성됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductPricedto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "상품을 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PriceV1DTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/orders": {
            "get": {
                "tags": [
                    "orders"
                ],
                "summary": "주문 목록 조회",
                "description": "주문 목록을 반환합니다.",
                "operationId": "v1_getOrderList",
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "조회 시작 시점",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "description": "조회 끝 시점",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "페이지 번호(기본값: 0)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "페이지 크기(기본값: 20)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sortDir",
                        "in": "query",
                        "description": "정렬 방향(오름차순: ASC, 내림차순: DESC(기본값))",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "정렬 기준값 - 기본값: 생성 시점",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "검색 키워드",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "검색 대상(orderCode, productName, customerName, phone, email)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "지정한 상태만 목록을 반환하게 합니다.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CREATED",
                                "DEPOSIT_WAITING",
                                "CANCELLED",
                                "PAID",
                                "CANCELLATION_REQUEST",
                                "CANCELLATION_REQUEST_CANCELLED",
                                "CANCELLATION_REQUEST_DENIED",
                                "CANCELLATION_REFUNDING",
                                "CANCELLATION_REFUNDED",
                                "CANCELLATION_REFUNDED_PARTIALLY",
                                "ORDER_DELIVERY_PREPARING",
                                "ORDER_DELIVERY_SUSPENDED",
                                "ORDER_DELIVERY_ON_THE_WAY",
                                "ORDER_DELIVERY_COMPLETED",
                                "EXCHANGE_REQUEST",
                                "EXCHANGE_REQUEST_CANCELLED",
                                "EXCHANGE_REQUEST_REJECTED",
                                "EXCHANGE_COLLECTION_PREPARING",
                                "EXCHANGE_COLLECTION_ON_THE_WAY",
                                "EXCHANGE_COLLECTION_COMPLETED",
                                "EXCHANGE_DELIVERY_PREPARING",
                                "EXCHANGE_DELIVERY_ON_THE_WAY",
                                "EXCHANGE_DELIVERY_COMPLETED",
                                "EXCHANGE_REJECT_DELIVERY_PREPARING",
                                "EXCHANGE_REJECT_DELIVERY_ON_THE_WAY",
                                "EXCHANGE_REJECT_DELIVERY_COMPLETED",
                                "EXCHANGE_PENDING",
                                "EXCHANGE_REJECTED",
                                "RETURN_REQUEST",
                                "RETURN_REQUEST_CANCELLED",
                                "RETURN_REQUEST_REJECTED",
                                "RETURN_COLLECTION_PREPARING",
                                "RETURN_COLLECTION_ON_THE_WAY",
                                "RETURN_COLLECTION_COMPLETED",
                                "RETURN_REJECT_DELIVERY_PREPARING",
                                "RETURN_REJECT_DELIVERY_ON_THE_WAY",
                                "RETURN_REJECT_DELIVERY_COMPLETED",
                                "RETURN_PENDING",
                                "RETURN_REJECTED",
                                "RETURN_REFUNDING",
                                "RETURN_REFUNDED",
                                "RETURN_REFUNDED_PARTIALLY",
                                "PAYMENT_FAILURE",
                                "FINISHED_EXCHANGE_AVAILABLE",
                                "FINISHED_RETURN_AVAILABLE",
                                "FINISHED_SUCCESSFULLY"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "정상적으로 조회됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrderListPageV1DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "orders"
                ],
                "summary": "주문 생성",
                "description": "주문을 생성할 때 호출합니다.",
                "operationId": "v1_createOrder",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderCreateV1DTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "정상적으로 생성됨",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductOrderdto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductErrorresponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "정보를 찾지 못 함",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductOrderdto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/invoices": {
            "get": {
                "tags": [
                    "invoices"
                ],
                "summary": "청구서 목록 조회",
                "description": "청구서 목록을 반환합니다.",
                "operationId": "v1_getInvoiceList",
                "parameters": [
                    {
                        "name": "startDate",
                        "in": "query",
                        "description": "조회 시작 시점",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
[...]
